.content {
	display: flex;
	flex-direction: column;
	gap: 10px;
		&__formInput {
			border-radius: 10px;
			border: 3px solid black;
			width: 100%;
			overflow: hidden;
			textarea {
				resize: none;
				display: block;
				overflow: hidden;
				min-width: 100%;
				background-color: wheat;
				padding: 10px;
				font-size: 25px;
			}
		}
		&__formButton {
			align-self: end;
			button {
				border-radius: 20px;
				font-size: 25px;
				color: #fff;
				background-color: green;
				min-width: 100px;
			}
		}
}