.content {
	padding: 30px 0 0 15px;
	background: url(../../assets/images/profile/background.jpg) top left/600px 600px;


		&__infoWrapper {
			margin: 0px 10px 10px 10px;
			display: flex;
			gap: 20px;
			flex-direction: row;
		}
}