.usersWrapper {
	grid-template-rows: 640px 30px;
display: grid;

}

.users {
		&__pages {
			
			display: flex;
			flex-direction: column;
			align-items: center;
			button {
				margin-right: 4px;
				font-size: 25px;
			}		
		}
}

.pagination {
			
	display: flex;
	flex-direction: column;
	align-items: center;
	button {
		margin-right: 4px;
		font-size: 25px;
	}		
}