.content {
	display: grid;
	grid-template-areas:
	"form form"
	"error button";
	grid-template-rows: 1fr 34px;
	justify-content: space-between;
	gap: 10px;
		&__formTextarea {
			border-radius: 10px;
			border: 3px solid black;
			overflow: hidden;
			grid-area: form;
			width: 100%;
			overflow-y: auto;
			textarea {
				resize: none;
				display: block;
				overflow-y: auto;
				min-width: 100%;
				min-height: 100%;
				background-color: wheat;
				padding: 10px;
				font-size: 25px;
			}
		}
		&__formInput {
			margin-top: 20px;
			border-radius: 10px;
			border: 2px solid black;
			overflow: hidden;
			grid-area: form;
			max-width: 200px;
			overflow-y: auto;
			textarea {
				resize: none;
				display: block;
				overflow-y: auto;
				min-width: 100%;
				min-height: 100%;
				background-color: wheat;
				padding: 10px;
				font-size: 25px;
			}
			input {
				resize: none;
				display: block;
				overflow-y: auto;
				min-width: 100%;
				min-height: 100%;
				background-color: wheat;
				font-size: 20px;
			}
		}
		&__formButton {
			grid-area: button;
			align-self: end;
			button {
				float: right;
				border-radius: 20px;
				font-size: 25px;
				color: #fff;
				background-color: green;
				min-width: 100px;
			}
		}
		&__formError {
			grid-area: error;
			color: red;
		}
		&__formInput_error {
			border-color: red;
		}
		&__formButton_error {
			grid-area: button;
			align-self: end;
			button {
				float: right;
				border-radius: 20px;
				font-size: 25px;
				color: black;
				background-color: grey;
				min-width: 100px;
			}
		}
}