.user {
		&__wrapper {
			margin-left: 30px;
			margin-bottom: 20px;
			display: grid;
			grid-template-rows: 80px 30px;
			grid-template-columns: 120px 700px;
			grid-template-areas: 
			"ava cont"
			"but cont";
		}

		&__avatar {
			margin: 0px auto;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			background-color: #2b303b;
			grid-area: ava;
		}

		&__button {
			margin: 0px auto;
			grid-area: but;
			button {
				border-radius: 20px;
				font-size: 15px;
				font-weight: bold;
				color: #fff;
				background-color: green;
				min-width: 100px;
				min-height: 100%;
			}
		}

		&__content {
			border: 2px solid #767676;
			border-radius: 15px;
			padding: 10px;
			grid-area: cont;
			display: grid;
			grid-template-columns: 500px 1fr;
			grid-template-areas: 
			"name location"
			"description location";
		}

		&__name {
			font-size: 25px;
			font-weight: bold;
			color: #767676;
			grid-area: name;
		}

		&__status {
			align-self: end;
			font-size: 15px;
			font-weight: bold;
			color: #767676;

			grid-area: description;
		}

		&__location {
			font-size: 20px;
			color: #767676;
			display: flex;
			flex-direction: column;
			align-items: end;
			grid-area: location;
		}

		&__country {
		}

		&__city {
		}
}
