.content {
	&__description {
		font-size: 25px;
		p:first-child {
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 20px;
		}
		img {
			width: 25px;
		}
	}
	&__contacts {
		margin-top: 20px;
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

	&__contact {
		font-style: italic;
		span {
			font-weight: bold;
		}
	}
}

