.content {
	&__description {
		max-width: 670px;
		font-size: 25px;
		p:first-child {
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 20px;
		}
		img {
			width: 25px;
		}
	}
	&__contacts {
		max-width: 670px;
		margin-top: 20px;
		display: grid;
		gap: 20px;
	}
	&__aboutMe {
		margin-bottom: 10px;
		font-weight: bold;
	}

	&__contact {
		font-style: italic;
		span {
			font-weight: bold;
		}
	}
}

