.nav {
	grid-area: nav;
	margin-top: 10px;
	font-size: 30px;
	padding: 15px;
	line-height: 40px;


	background-color: yellow;

	&__item {
		font-weight: bold;
			a {
				color: black;
			}
		&_hover {
			&:hover a {
				color: gray;
			}
		}
		&_active {
			&:active a {
				color: green;
			}
		}
	}

	&__friends {
		margin-top: 100px;
		font-size: 35px;
	}
}
