
.dialog {
	padding: 20px 0px;
	width: 150px;
	border-right: 3px solid black;
	a {
		color: black;
		font-size: 20px;
		font-weight: bold;
	}
	&_active {
		a {
			display: inline-block;
			font-size: 25px;
			font-weight: bold;
			color: salmon;
			&:after {
				content: "";
				display: inline-block;
				vertical-align: middle;
				margin-left: 10px;
				width: 10px;
				height: 10px;
				margin-right: 10px;
				background-color: green;
				border-radius: 50%;
			}
		}
	}
}
