
.formWrapper {
	min-width: 250px;
	text-align: center;
	span {
		font-weight: bold;
	}
	h1 {
		font-weight: bold;
		font-size: 20px
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
	}
}

