@import "./lib/nullstyle";

body {
	background-color: #c0c0c0;
}

.app-wrapper {
	height: 100%;
	padding: 10px 10px 0px 10px;
	background-color: whitesmoke;
	width: 1600px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 60px 1fr 25px;
	grid-template-columns: 2fr 10fr;
	grid-template-areas: 
	"header header"
	"nav container"
	"footer footer";
}
