@import "./lib/nullstyle";

body {
	background-color: #c0c0c0;
	padding: 0 calc(20px - (100vw - 100%)) 0 0;
}

.app-wrapper {
	height: 100vh;
	/* padding: 10px 10px 0px 10px; */
	background-color: whitesmoke;
	width: 1600px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 60px 1fr 25px;
	grid-template-columns: 2fr 10fr;
	grid-template-areas: 
	"header header"
	"container container"
	"footer footer";
	&__content {
		grid-area: container;
		padding: 30px 0 0 15px;
		background: url(./assets/images/profile/background.png) top left/600px 600px;
	}
}
