.wrapper {
	display: grid;
	grid-template-rows: 500px 1fr;
}

.content {
	border: 2px solid rgba(187, 184, 184, 0.356);
	border-radius: 30px;
	display: grid;
	grid-template-columns: 2fr 12fr;
	gap: 20px;
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	&__messages {
		overflow-y: auto;
	}
}
